@font-face {
	font-family: 'greekhousesymbolizedregular';
	src: url('greekhouse_symbolized_free-webfont.woff2') format('woff2'),
		url('greekhouse_symbolized_free-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
html{
	background-image: url("oceanoMarco.png");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 100%;
 width: 100%;
}
body{
	display: flex;
	justify-content: center; 
	align-items: center;
	margin: 0;
	height: 100vh;
	width: 100vw;
	cursor: url("cursor.png"), url("cursor.png"), default;
	font-family: 'greekhousesymbolizedregular';
	color: rgb(212, 175, 55);
	flex-wrap: wrap-reverse;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
}
#cajaBotones{
	display: flex;
	justify-content: center; 
	align-items: center;

}
button{
	font-family: 'greekhousesymbolizedregular';
	color: rgb(212, 175, 55);
	font-size: 2vw;
	background-image: url("seleccionFrame.png");
	background-size: fill;
	background-position: center;
	height: 20vw;
	max-height: 70vh;
	width: 30vw;
	max-width: 30vw;
	margin: 1vh;
}

p{
	font-size: min(6vh, 6vh);
}

#dios{
	font-size: min(10vh,10vh);
	margin: 0;
}